- id: "1652236554927"
  alias: Water the backyard at 4am for 45 minutes every other day
  description: ""
  trigger:
    - platform: time
      at: 04:00:00
  condition:
    - condition: and
      conditions:
        - condition: state
          entity_id: switch.back_smart_hose_tap_timer_rain_delay
          state: "off"
        - condition: template
          value_template: "{{ now().timetuple().tm_yday % 2 == 0 }}"
  action:
    - service: bhyve.start_watering
      data:
        entity_id: switch.back_smart_hose_tap_timer_zone
        minutes: 45
  mode: single
- id: "1660933121511"
  alias: Auto-update Home Assistant
  description: ""
  trigger:
    - platform: time
      at: 04:00:00
  condition: []
  action:
    - service: update.install
      data:
        backup: true
      target:
        entity_id:
          - update.home_assistant_core_update
          - update.home_assistant_supervisor_update
          - update.studio_code_server_update
          - update.mariadb_update
          - update.let_s_encrypt_update
          - update.influxdb_update
          - update.home_assistant_google_drive_backup_update
          - update.git_pull_update
          - update.esphome_update_2
          - update.nginx_home_assistant_ssl_proxy_update
          - update.home_assistant_operating_system_update
    - service: homeassistant.check_config
      data: {}
  mode: single
- id: "1674431380464"
  alias: Sleep Mode On
  description: ""
  trigger:
    - platform: state
      entity_id:
        - input_boolean.sleep_mode
      from: "off"
      to: "on"
  condition: []
  action:
    - service: script.sleep_mode_on_actions
      data: {}
  mode: single
- id: "1674435243660"
  alias: Sleep Mode Off
  description: ""
  trigger:
    - platform: state
      entity_id:
        - input_boolean.sleep_mode
      from: "on"
      to: "off"
  condition: []
  action:
    - service: script.sleep_mode_off_actions
      data: {}
  mode: single
- id: "1679006488341"
  alias: Attempt to renew SSL certificates at 3AM daily
  description: ""
  trigger:
    - platform: time
      at: 03:00:00
  condition: []
  action:
    - service: script.renew_lets_encrypt_ssl_certificates
      data: {}
  mode: single
- id: "1686880897738"
  alias: Water the front yard at 5am for 45 minutes every other day
  description: ""
  trigger:
    - platform: time
      at: 05:00:00
  condition:
    - condition: and
      conditions:
        - condition: state
          entity_id: switch.front_smart_hose_tap_timer_rain_delay
          state: "off"
        - condition: template
          value_template: "{{ now().timetuple().tm_yday % 2 == 0 }}"
  action:
    - service: bhyve.start_watering
      data:
        entity_id: switch.front_smart_hose_tap_timer_zone
        minutes: 45
  mode: single
- id: "1696907494254"
  alias: Turn Off Kitchen Sink Overhead Light
  description: ""
  trigger:
    - platform: device
      type: turned_off
      device_id: 6ca58a729fa44bd29fad47f1990e2e0b
      entity_id: 132fa6a3a7f91ea63e065bbbeeb4dbd8
      domain: light
  condition: []
  action:
    - type: turn_off
      device_id: 4ebdbbd27107e5d4c24e34d545812034
      entity_id: 2a4ac8d4f327de430f2a615ae1591789
      domain: light
  mode: single
- id: "1696907594807"
  alias: Turn On Kitchen Sink Overhead Light
  description: ""
  trigger:
    - platform: device
      type: turned_on
      device_id: 6ca58a729fa44bd29fad47f1990e2e0b
      entity_id: 132fa6a3a7f91ea63e065bbbeeb4dbd8
      domain: light
  condition: []
  action:
    - type: turn_on
      device_id: 4ebdbbd27107e5d4c24e34d545812034
      entity_id: 2a4ac8d4f327de430f2a615ae1591789
      domain: light
  mode: single
- id: "1704681312418"
  alias: Turn off driveway lights 10 minutes after the motion detector is clear
  description: ""
  trigger:
    - platform: state
      entity_id:
        - binary_sensor.driveway_motion
      to: "off"
      for:
        hours: 0
        minutes: 10
        seconds: 0
  condition:
    - condition: and
      conditions:
        - condition: state
          entity_id: input_boolean.driveway_motion_sensor_override
          state: "off"
  action:
    - service: homeassistant.turn_off
      data: {}
      target:
        entity_id: group.driveway_floodlights
  mode: single
- id: "1704681482220"
  alias: Turn on driveway lights when motion is detected
  description: ""
  trigger:
    - platform: state
      entity_id:
        - binary_sensor.driveway_motion
      to: "on"
  condition:
    - condition: state
      entity_id: input_boolean.driveway_motion_sensor_override
      state: "off"
    - condition: numeric_state
      entity_id: sun.sun
      attribute: elevation
      below: 0
  action:
    - service: homeassistant.turn_on
      target:
        entity_id: group.driveway_floodlights
      data: {}
  mode: single
- id: "1705801501213"
  alias: Turn on office bookshelf light 1 hour before sunset
  description: ""
  trigger:
    - platform: sun
      event: sunset
      offset: "-1:00"
  condition: []
  action:
    - type: turn_on
      device_id: 0f8c9c863e41509ae89eb58f99391579
      entity_id: 18215f9c4664cde8c1db82260612a06a
      domain: switch
  mode: single
- id: "1722904465976"
  alias: Water the backyard at 4am for 45 minutes every three days
  description: ""
  trigger:
    - platform: time
      at: 04:00:00
  condition:
    - condition: and
      conditions:
        - condition: state
          entity_id: switch.back_smart_hose_tap_timer_rain_delay
          state: "off"
        - condition: template
          value_template: "{{ now().timetuple().tm_yday % 3 == 0 }}"
  action:
    - service: bhyve.start_watering
      data:
        entity_id: switch.back_smart_hose_tap_timer_zone
        minutes: 45
  mode: single
- id: "1722904529787"
  alias: Water the front yard at 5am for 45 minutes every three days
  description: ""
  trigger:
    - platform: time
      at: 05:00:00
  condition:
    - condition: and
      conditions:
        - condition: state
          entity_id: switch.front_smart_hose_tap_timer_rain_delay
          state: "off"
        - condition: template
          value_template: "{{ now().timetuple().tm_yday % 3 == 0 }}"
  action:
    - service: bhyve.start_watering
      data:
        entity_id: switch.front_smart_hose_tap_timer_zone
        minutes: 45
  mode: single
- id: "1736821137695"
  alias: Toggle Annie's bedside lamp
  description: ""
  trigger:
    - platform: event
      event_type: zha_event
      event_data:
        device_id: 6ad012c0fd2c4548aa830605003af78c
        command: double
  condition: []
  action:
    - service: homeassistant.toggle
      target:
        entity_id: light.hue_ambiance_candle_1
  mode: single
- id: "1736821180980"
  alias: Toggle both bedside lamps
  description: ""
  triggers:
    - event_type: zha_event
      event_data:
        device_id: 6ad012c0fd2c4548aa830605003af78c
        command: single
      trigger: event
  conditions: []
  actions:
    - entity_id:
        - light.hue_ambiance_candle_1
        - light.hue_ambiance_candle_2
      action: homeassistant.toggle
  mode: single
- id: "1736821285748"
  alias: Turn off front room lights at 11PM
  description: ""
  triggers:
    - trigger: time
      at: "23:00:00"
  conditions: []
  actions:
    - action: homeassistant.turn_off
      target:
        entity_id:
          - light.front_room_bookshelf_lamp
      data: {}
  mode: single
- id: "1736821352634"
  alias: Turn off outdoor Christmas lights at 2AM if available
  description: ""
  triggers:
    - trigger: time
      at: 02:00:00
  conditions: []
  actions:
    - if:
        - condition: not
          conditions:
            - condition: state
              entity_id: switch.driveway_string_lights
              state: unavailable
      then:
        - action: switch.turn_off
          target:
            entity_id: switch.driveway_string_lights
    - if:
        - condition: not
          conditions:
            - condition: state
              entity_id: switch.tp_link_smart_plug_3077_pluga1
              state: unavailable
      then:
        - action: switch.turn_off
          target:
            entity_id: switch.tp_link_smart_plug_3077_pluga1
  mode: single
- id: "1736821367317"
  alias: Turn off the back hallway lamp at 11PM
  description: ""
  triggers:
    - trigger: time
      at: "23:00:00"
  conditions: []
  actions:
    - action: homeassistant.turn_off
      target:
        entity_id: light.back_hallway_table_lamp
      data: {}
  mode: single
- id: "1736821381146"
  alias: Turn off the Christmas tree at 11PM if available
  description: ""
  triggers:
    - at: "23:00:00"
      trigger: time
  conditions:
    - condition: not
      conditions:
        - condition: state
          entity_id: switch.front_room_christmas_tree
          state: unavailable
  actions:
    - entity_id: switch.front_room_christmas_tree
      action: switch.turn_off
  mode: single
- id: "1736821396434"
  alias: Turn off the countertop lamp at 11PM
  description: ""
  triggers:
    - at: "23:00:00"
      trigger: time
  conditions: []
  actions:
    - entity_id: light.kitchen_counter_lamp
      action: light.turn_off
  mode: single
- id: "1736821413203"
  alias: Turn on front room lights 1 hour before sunset
  description: ""
  triggers:
    - trigger: sun
      event: sunset
      offset: -01:00:00
  conditions: []
  actions:
    - action: homeassistant.turn_on
      target:
        entity_id:
          - light.front_room_bookshelf_lamp
      data: {}
  mode: single
- id: "1736821434031"
  alias: Turn on the back hallway lamp at 6:30AM
  description: ""
  triggers:
    - trigger: time
      at: 06:30:00
  conditions: []
  actions:
    - action: homeassistant.turn_on
      target:
        entity_id: light.back_hallway_table_lamp
      data: {}
  mode: single
- id: "1736821450316"
  alias: Turn on the Christmas tree 1 hour before sunset if available
  description: ""
  triggers:
    - event: sunset
      offset: -01:00:00
      trigger: sun
  conditions:
    - condition: not
      conditions:
        - condition: state
          entity_id: switch.front_room_christmas_tree
          state: unavailable
  actions:
    - entity_id: switch.front_room_christmas_tree
      action: switch.turn_on
  mode: single
- id: "1736821461230"
  alias: Turn on the countertop lamp at 6:30AM
  description: ""
  triggers:
    - at: 06:30:00
      trigger: time
  conditions: []
  actions:
    - data:
        entity_id: light.kitchen_counter_lamp
        brightness_pct: 35
      action: light.turn_on
  mode: single
- id: "1736821478996"
  alias: Turn on the outdoor Christmas lights 1 hour before sunset if available
  description: ""
  triggers:
    - event: sunset
      offset: -01:00:00
      trigger: sun
  conditions: []
  actions:
    - if:
        - condition: not
          conditions:
            - condition: state
              entity_id: switch.driveway_string_lights
              state: unavailable
      then:
        - action: switch.turn_on
          metadata: {}
          data: {}
          target:
            entity_id: switch.driveway_string_lights
    - if:
        - condition: not
          conditions:
            - condition: state
              entity_id: switch.tp_link_smart_plug_3077_pluga1
              state: unavailable
      then:
        - action: switch.turn_on
          metadata: {}
          data: {}
          target:
            entity_id: switch.tp_link_smart_plug_3077_pluga1
  mode: single
- id: "1737592566178"
  alias: Turn off back entry light at 11 PM if still on
  description: ""
  triggers:
    - trigger: time
      at: "23:00:00"
  conditions:
    - condition: state
      entity_id: light.back_entry_main_lights
      state: "on"
  actions:
    - action: light.turn_off
      metadata: {}
      data: {}
      target:
        entity_id: light.back_entry_main_lights
  mode: single
- id: "1737592631276"
  alias: Turn on back entry light at 6:30 AM
  description: ""
  triggers:
    - trigger: time
      at: 06:30:00
  conditions: []
  actions:
    - action: light.turn_on
      metadata: {}
      data:
        brightness_pct: 25
      target:
        entity_id: light.back_entry_main_lights
  mode: single
- id: "1744400113564"
  alias: Turn on Sleep Mode at 10:30pm
  description: ""
  triggers:
    - trigger: time
      at: "22:30:00"
  conditions: []
  actions:
    - action: script.sleep_mode_on_actions
      data: {}
    - action: alarm_control_panel.alarm_arm_home
      metadata: {}
      data: {}
      target:
        entity_id: alarm_control_panel.alarm_control_panel
    - action: notify.mobile_app_jpf_iphone
      metadata: {}
      data:
        title: "\U0001F634 Sleep Mode On"
        message: Sleep mode has been turned on for the night!
  mode: single
- id: "1744400185940"
  alias: Turn off Sleep Mode at 7am
  description: ""
  triggers:
    - trigger: time
      at: 07:00:00
  conditions: []
  actions:
    - action: script.sleep_mode_off_actions
      data: {}
    - action: alarm_control_panel.alarm_disarm
      metadata: {}
      data: {}
      target:
        entity_id: alarm_control_panel.alarm_control_panel
    - action: notify.mobile_app_jpf_iphone
      metadata: {}
      data:
        title: ☀️ Sleep Mode Off
        message: Sleep mode has been turned off for the day!
  mode: single
- id: "1752292482251"
  alias: Switch upstairs AC to fan when dishwasher has started
  description: ""
  triggers:
    - device_id: 5fe64a9215c9d2ff94bf6fe7685f8907
      domain: home_connect_alt
      type: program_started
      metadata: {}
      trigger: device
      enabled: true
  conditions:
    - condition: state
      entity_id: climate.midea_ac
      attribute: hvac_action
      state: cooling
  actions:
    - action: climate.set_hvac_mode
      metadata: {}
      data:
        hvac_mode: fan_only
      target:
        device_id: 42fe3015ad299c85c554662206f3c3da
  mode: single
- id: "1752292644582"
  alias: Switch upstairs AC to cooling when dishwasher finishes
  description: ""
  triggers:
    - device_id: 5fe64a9215c9d2ff94bf6fe7685f8907
      domain: home_connect_alt
      type: program_finished
      trigger: device
      enabled: true
  conditions:
    - condition: state
      entity_id: climate.midea_ac
      attribute: hvac_action
      state: fan
  actions:
    - action: climate.set_hvac_mode
      metadata: {}
      data:
        hvac_mode: cool
      target:
        device_id: 42fe3015ad299c85c554662206f3c3da
  mode: single
